<div class="row">
  <div class="col-xs-12 text-center">
    <%= image_tag 'hero-image-black.png', class: 'hero-image' %>
  </div>
</div>

<div class="row no-bg">
  <div class="col-lg-2 col-lg-offset-2 text-center">
    <%= link_to 'West Side', region_submissions_path('west'), class: 'btn btn-primary btn-lg btn-block' %>
  </div>

  <div class="col-lg-4">&nbsp;</div>

  <div class="col-lg-2 text-center">
    <%= link_to 'East Side', region_submissions_path('east'), class: 'btn btn-primary btn-lg btn-block' %>
  </div>
</div>
