<div class="table">
  <table class="table table-striped">
    <tbody>
      <%= render partial: 'visible', collection: submissions.visible %>
      <%= render partial: 'invisible', collection: submissions.invisible %>
    </tbody>
  </table>
</div>
